# 数据和项目文件
# IDE和工具目录
.trae/
.vscode/
.github/
.idea/
mysite/
qiushi-skill/
# Python相关文件
*.sqlite3
__pycache__/
*.pyc
*.log

# PHP文件
index.php
apps/
templates/
# 忽略vue_app目录下的所有内容
backend/.vscode/
backend/node_modules/

# 忽略JBrowse数据目录下的所有内容，但不包括JSON配置文件
backend/static/jbrowse/data/**
# 保留所有config.json文件（现在和将来的）
!backend/static/jbrowse/data/**/config.json
# 保留目录结构
!backend/static/jbrowse/data/*/
backend/soft/windows/primer3/kmer_lists/homo_sapiens_16.list
backend/data/genome/
backend/data/TF_family/
backend/data/blast_db/
backend/temp/
backend/venv/
frontend/node_modules/
