# Created by venv; see https://docs.python.org/3/library/venv.html

# 忽略虚拟环境
venv/

# 忽略编译的 Python 文件
__pycache__/
*.pyc

# 忽略日志文件
*.log

# 忽略 SQLite 数据库
*.sqlite3

# 忽略 JBrowse 数据（除了 config.json）
static/jbrowse/data/**
!static/jbrowse/data/**/config.json
!static/jbrowse/data/*/

# 忽略特定的大文件
soft/windows/primer3/kmer_lists/homo_sapiens_16.list

# 忽略数据目录
data/genome/
data/TF_family/
data/blast_db/

# 忽略临时目录
temp/

backend/Lib/**




# 忽略 Node.js 依赖
node_modules/
