{% extends "home/base.html" %}
{% block content %}
    <h3>Species</h3>
    <style>
        .toggle-list .toggle-btn {
            cursor: pointer;
            user-select: none;
            display: inline-block;
            padding: 2px 5px;
        }
        .toggle-list .toggle-btn::before {
            content: '▶';
            font-size: 10px;
            margin-right: 5px;
            transition: transform 0.3s;
        }
        .toggle-list .toggle-btn:not(.collapsed)::before {
            transform: rotate(90deg);
        }
        .toggle-list .nested {
            overflow: hidden;
            max-height: 1000px; /* 一个大值，确保内容能完全展开 */
            transition: max-height 0.3s ease-out;
        }
        .toggle-list .nested.collapsed {
            max-height: 0;
        }
        .toggle-list ul {
            list-style-type: none;
            padding-left: 20px;
        }
    </style>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleButtons = document.querySelectorAll('.toggle-btn');
            
            toggleButtons.forEach(button => {
                button.addEventListener('click', function() {
                    this.classList.toggle('collapsed');
                    const nestedList = this.nextElementSibling;
                    nestedList.classList.toggle('collapsed');
                });
            });
        });
    </script>
    
    <ul class="toggle-list">
        {% for category, sub_species_list in species_categories %}
        <li>
            <span class="toggle-btn collapsed">{{ category }}</span>
            <ul class="nested collapsed">
                {% for sub_species in sub_species_list %}
                <li><a href="{% url 'Browse:single_show' species=sub_species %}">{{ sub_species }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}